include *.txt
include kitconc/data/*.tab
include kitconc/data/*.pickle
include kitconc/data/*.ttf
include kitconc/data/images/*.png
include kitconc/data/images/*.ico
include kitconc/data/scripts/*.py
